body{
margin: 0 auto;
max-width: 65%;
}

.solid {
border: 5px solid black;
height: 200px;
padding: 10px;
margin: 10px;
}

.purple {
 background-color: violet;
 height: 145px;
 width: 50px;
 float: left;
 margin: 20px 50px 0 0 ;  
}

.green {
background-color: green;
height: 170px;
width: 250px;
float: left;
}

.skyBlue {
background-color: skyblue;
border-radius: 50%;
height: 170px;
width: 170px;
float: left;
margin-left: 50px;
}

.dot {
margin: auto 10px;
clear: both;
border: 4.5px dotted black;
height: 200px;
padding: 25px;
}

.yellowShadow {
background-color: rgba(240, 215, 134, 0.43);
width: 100%;
height: 100%;
box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.623);
}

.shadow {
height: 300px;
width: 450px;
margin: 10px auto;
border: 1px solid rgba(0, 0, 0, 0.144);
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}
.text {
    color:navy;
    font-size: 250%;  
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}